<div class="login-container">
    <header class="login__header">
        <div class="login__header__left">
            <img src="assets/temp-logo.jpg" alt="logo">
            <h2>Runnr Spot is Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
        </div>
        <div class="login__header__right">
            <mat-card class="login__header__right__card">
                <mat-card-content class="login__header__right__card__content">
                    <form #form="ngForm" class="login-form" (ngSubmit)="login(form)">
                        <input type="text" name="email" ngModel placeholder="Email" required>
                        <input type="password" name="password" ngModel placeholder="Password" required>

                        <button type="submit" 
                                class="login-button"
                                [disabled]="form.invalid || form.pending"
                        >Log in</button>
                    </form>
                    <a href="#">Forgot Password?</a>
                    <div class="google-btn" (click)="auth.googleSignin()">
                        <div class="google-icon-wrapper">
                            <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                        </div>
                        <p class="btn-text"><b>Sign in with google</b></p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </header>
    <footer class="login__footer">
        <p>Author: RVZ</p>
        <p><a href="mailto:contact@runnr.com">contact@runnr.com</a></p>
    </footer>
</div>